@charset "UTF-8";
body{
    min-width: 150px;
    min-height: 100px;
    max-width: 4500px;
    max-height: 4000px;
    background-image: url(imagens/fundo002.jpg);
    background-size: cover;
    background-attachment: fixed;
background: red imagens\fundo002jpg center center no-repeat ;
margin: 0px;
}
p{
font-size: 18px;
color: white;
text-shadow: 0px 1px 5px black;
font-variant: inherit;
}
h2{
font-size: 50px;
text-shadow: 0px 1px 5px white;
}
h3{
text-decoration: underline;
font-size: 30px;
text-shadow: 0px 1px 5px white;
}
header{
background-color: black;
color: white;
margin-top: 0px;
box-shadow: 0px 0px 6px wheat;
}
header h1{
    color: rgb(87, 0, 0);
    text-shadow: 3px 1px 10px white;
    font-size: 60px;
text-align: center;
margin-top: 0px;
text-decoration: underline;
block-size: 65px;
}
header h1:hover{
font-size: 55px;
color: rgba(87, 0, 0, 0.689);
}

main article.q1 h2{
margin: 0px;
}
main article.q1{
text-align: center;
padding: 30px;
box-shadow: 0px 0px 6px wheat;
}
article.q1{
background-image: url(imagens/fundo001.jpg);
    background-size: cover;
    background-attachment: fixed;
background: red imagens\fundo001jpg center center no-repeat;
max-block-size: 700px;
min-block-size: 150px;
}
article.q1 img{
min-width: 100px;
min-height: 100px;
max-width: 500px;
max-height: 500px;
padding-left: 70%;
margin: 10px;
padding: 10px;
}
article.q1 img:hover{
block-size: 250px;
opacity: 70%;
}
article.q2{
background-image: url(imagens/fundo003.jpg);
    background-size: cover;
    background-attachment: fixed;
background: red imagens\fundo003jpg center center no-repeat;
box-shadow: 0px 0px 6px wheat;
}
article.q3{
margin-left: 40px;
margin-right: 40px;
background-color: black;
box-shadow: 0px 0px 6px wheat;
}
article.q3 img{
max-width: 400px;
max-height: 400px;
min-height: 100px;
min-width: 150px;
}

footer{
background-color: black;
text-align: center;
font-size: 30px;
margin: 0px;
box-shadow: 0px 0px 6px wheat;
}
footer p{
margin: 0px;

}
footer p a{
color: white;
text-decoration: none;
}
a:hover{
color: white;
text-decoration: underline;
}